*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* Font Style */
.inter{
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;

}

/* Header Part : Navbar  */
header{
     background-color: white;
     padding-top: 16px;
}
  
nav{
     width: 83%;
     max-width: 1600px;
     margin: 0 auto; 
     display: flex;
     align-items: center; 
     justify-content: space-between;
     margin-bottom: 16px;
}

/* Navbar logo */
nav .logo{
     width: 139px;
     height: 60px;
     display: flex;
     align-items: center;

}

/* Nav Menu items - ul */
nav .menu{
     display: flex; 
     list-style-type:none;
     align-items: center;
     gap: 32px;
}

nav .logo img{
    height : 100%;
    display :block;
}

/* nav menu item anchor - a */
nav .menu a{
     text-decoration: none;
     color:#000000;
     font-size: 16px;
     font-weight: 500;
}

/* nav Button */
.btn{
     background-color:#469165;
     color: white;
     width: 164px;
     height: 44px;
     border-radius: 4px;
     font-size: 15px;
     font-weight: 500;
     text-align: center;
     border: none;

}
.btn:hover{
     background-color: black;
     color:white;
}

/* Banner Section Start From Here : Banner */

#banner {
     width: 100%;
     background-repeat: no-repeat;
     margin-bottom: 80px;
}

/* Banner-container part */
.banner-container{
     position: relative;
}

#banner .early-access{
     display: inline-flex;
     align-items: center;
     gap: 8px;
     padding: 5px 13px;
     background-color: white;
     border: 1px solid #c9f2db;
     border-radius: 999px;
     font-size: 15px;
     font-weight: 400;
     color: #469165;
     margin-bottom: 16px;
}

#banner .early-access img{
     width: 15px;
     height: 15px;
     object-fit: contain;
     display: block;
}

.banner-container img{
     width: 100%;
     height: 700px;
}

.banner-content{
     position: absolute;
     text-align: center;
     top: 40%;
     left: 50%;
     transform: translate(-50%,-50%);
     max-width: 800px;
}

.banner-content h1{
     font-size: 70px;
     margin-bottom: 16px;
}

.banner-content p{
     text-align: center;
     font-weight: 300;
     font-size: 16px;
     line-height: 24px;
     color: white;
     margin-bottom: 32px;
}


.banner-content .banner-btn1{
     background-color: #469165;  
     color: white;  
     font-size: 16px;
     font-weight: 500px;
     padding: 14px 18px;
     border-radius: 4px;
     border: none;
     margin-right: 16px;
}
.banner-content .banner-btn1:hover{
     background-color: #000000;
     color:white;
     border: 1px solid white;
}

.banner-content .banner-btn2{
     background-color: transparent;
     border: 1px solid white;
     color:white;
     border-radius: 4px;
     padding: 14px 16px;
     font-size: 16px;
}
.banner-content .banner-btn2:hover {
     background-color:black;
     color: white;
     border: 1px solid white;
}
 
/* Not's Dont Fail Part */

 #note {
     padding: 50px 9%;
     text-align: center;
}

#note h2{
     font-size: 48px;
     font-weight: 700;
}

.subtitle{
     margin-top: 16px;
     color: black;
     max-width: 600px;
     margin-inline: auto;
}

.card{
     align-items: stretch;
     justify-content: center;
     display: flex;
     margin-top: 44px;
     padding: 24px;
     gap: 30px;
}

.card-box{
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     width: 322px;
     padding: 40px;
     background-color: white;
     color: #111827;
     border-radius: 18px;
     box-shadow: 1px 1px 6px 1px rgb(165, 165, 165);
}
.icon{
     width: 60px;
     height: 60px;
     background-color: #f95555;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto 24px;
}

.icon img{
     width: 32px;
     height: 32px;
}

.card-box h3{
     font-size: 20px;
     margin-bottom: 12px;
}

.card-box p{
     color: #6b7280;
     font-size: 15px;
     line-height: 1.6;
} 

/* Second Brain Section Star From Here */

#second-brain-main{
     height: 700px;
     width: 1480px;
     margin: 50px auto 120px;
     padding: 55px;
     border-radius: 20px;
}
#second-brain-main .parent{
     display: flex;
     gap: 80px;   
}

#second-brain-main .child{
     margin-top: 100px;
}

#second-brain-main .right-part h5{
     color: #469165;
     size: 15px;
     font-weight: 500;
     margin-bottom: 15px;
} 

#second-brain-main .right-part h2{
     color: #001931;
     font-size: 45px;
     font-weight: bold;
     margin-bottom: 15px;
}

#second-brain-main .right-part p{
   color: #627382;
   font-size: 15px;
   line-height: 22px;
   font-weight: 400px;
   text-align: justify;
   margin-bottom: 40px;
}

#second-brain-main .parent img{
     box-shadow: 0px 0px 3px 0px rgb(165, 165, 165);
     border-radius: 10px;
}

#second-brain-main .idea-list .child-list{
     display: flex;
     margin: 16px 0;
     gap: 6px;
}


/* Ready To Think Section Styling */
#main-container {
     background-color: #f7f6f2;
     height:384px;
     width: 1375px;
     margin: 0 auto;
     border-radius: 8px;
     padding: 80px 40px;
}

#main-container .parent{
     text-align: center;
}

#main-container .parent h1{
     color: #001931;
     font-size: 40px;
     font-weight: bold;
     margin-bottom: 15px;
}

#main-container .parent p{
     color: #001931;
     font-size: 16px;
     line-height: 24px;
     font-weight: 400px;
     text-align:center;
     margin-bottom: 24px;
}

#main-container .parent .p2{
     margin: 20px auto;
     color: #627382;
     font-size: 16px;
     font-weight: 400;
     line-height: 20px;
}

/* Footer Section Start Form Here */

footer {
     height: 340px;
     margin-top: 150px;
     background-color: #001931;
     color: white;
     width: 100%;
     /* height: 348px; */
    
}
footer .top-part{
     padding: 70px 280px 40px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

footer .social h4{
     margin: 0 0 10px;
     font-weight: 500;
     font-size: 20px;

}
footer .icons{
     display: flex;
     gap: 12px;

}
footer .icon{
   width: 20px;
   height: 20px;
   display: flex;
   font-size: 14px;
   cursor: pointer;
   align-items: center;
}

footer .divider{
     height: 1px;
     background: rgba(255, 255, 255, 0.15);
     margin: 50px 250px 0px;
}

footer .bottom-part{
     text-align: center;
     padding: 35px 0 25px;
     font-size: 16px;
     color: #627382;
}

